.welcomeText {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}
.welcomeText h1 + p {
  margin-bottom: 40px;
}
.welcomeText ul {
  list-style-type: '\2B50';
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.container button {
  border: var(--border);
  padding: 10px 20px;
  color: var(--text);
  border-radius: 10px;
  box-shadow: var(--shadow);
  font-size: 1.3rem;
}
.container button:active {
  box-shadow: none;
  background-color: var(--bg3);
}
.itemContainer {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));
  background-color: red;
  padding: 20px;
}
.item {
  text-align: center;
  box-shadow: var(--shadow);
  border-radius: 10px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}
.imgContainer {
  overflow: hidden;
  background-color: blue;
  height: 200px;
}
.imgContainer img {
  width: 100%;
  height: 200px;
}
.itemText {
  background-color: aqua;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
