header {
  padding: 40px;
  font-family: var(--font);
  border-bottom: var(--border);
  background-color: var(--bg2);
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.header {
  font-weight: 900;
  text-decoration: none;
  color: inherit;
}
header img {
  width: 50px;
}
