.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.formContainer button {
  border: var(--border);
  padding: 10px 20px;
  color: var(--text);
  border-radius: 10px;
  box-shadow: var(--shadow);
  font-size: 1.3rem;
}
.formContainer button:active {
  box-shadow: none;
  background-color: var(--bg3);
}
